<div class="gm-dialog" id="twitter-logged-in">
    <h1>Twitter 账户</h1>
    <div id="user-profile" class="user-profile">
        <label for="user-profile" style="margin-right: 5px">登录账户：</label>
        <div class="avatar">
            <img id="user-avatar" src="" alt="User Avatar" />
        </div>
        <div class="user-details">
            <div id="user-name"></div>
            <div id="user-id"></div>
        </div>
    </div>
    <p>风险提示：由于使用为未经 Twitter 公布的 API，可能会导致 Twitter 账户被封禁，请谨慎考虑。</p>
    <p>要使用访客身份使用本脚本，请在 Twitter 退出登录。</p>
    <p>所有数据都保存在本地，脚本不会向任何第三方发送数据。</p>
    <div class="gm-dialog-footer">
        <button class="gm-btn gm-btn-secondary gm-btn-close">关闭</button>
    </div>
    <div id="loading-overlay" class="loading-overlay" style="display: none">
        <div class="loading-spinner"></div>
    </div>
</div>